
{% block body %}
<div>
    <form action="{% url 'index'%}" method="POST">
        {% csrf_token %}
        <label for="category">Category:</label>
        <select name="category-select">
            <option value="" selected>All</option>
            {% for category in categories %}
            <option value="{{category.category}}">{{category.category}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-sm">OK</button>
    </form>
</div>
{% endblock %}