{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{listing.title}}</h2>
<p class="published"><small class="text-body-secondary"><em>Published by: </em><b>{{listing.owner}}</b></small></p>

<div class="img-container mx-auto">
<img src="{{listing.image_url}}" alt="{{listing.title}}"/>
</div>

<div class="item mx-auto">
    <p class="card-text description">{{listing.description}}</p>
    <p class="card-text">Initial price: <b>{{listing.base_price}}</b></p>
    <p class="card-text">Latest bid: <b>{{listing.current_bid}}</b></p>
    
  </div>
  {% if not user.is_authenticated %}
<div style="margin: 25px;">
<h2>You MUST <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> before commenting or bidding</h2>
</div>

{% else %}

  {% if listing.owner == user %}
  <div class="item">
  {% include 'auctions/sell.html' %}
  </div>

  {% else %}
  <div class="item">
   {% include 'auctions/bid.html' %}
    </div>

  {% endif %}


  <div class="comment-section">

      <div class="make-comment">
        {% include 'auctions/add_comment.html' %}
      </div>
{% for comment in comments %}
  {% include 'auctions/comment.html' %}

</div>
{% empty %}
<div class="item">
<h1>No comments.</h1>
</div>

{% endfor %}
{% endif %}
{% endblock %}
