{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{listing.title}}</h2>
<p class="published"><small class="text-body-secondary"><em>Published by: </em><b>{{listing.owner}}</b></small></p>

<div class="img-container mx-auto">
<img src="{{listing.image_url}}" alt="{{listing.title}}"/>
</div>

<div class="item mx-auto">
    <p class="card-text description">{{listing.description}}</p>
    <p class="card-text">Initial price: <b>{{listing.base_price}}</b></p>
    <p class="card-text">Latest bid: <b>{{listing.current_bid}}</b></p>
    
  </div>

  {% if listing.owner == user %}
  <div class="item">
  <form method="post" action=" {% url 'end' %}">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-dollar-sign"></i> Sell 
    </button>

    <button type="submit" class="btn btn-primary">
      <i class="fas fa-ban"></i> Cancel bidding
    </button>

  </form>
</div>

  {% else %}
  <div class="item">
    <form method="post" action="{% url 'bid' %}">
      <input type="number" placeholder="Enter your bid...">
      <button type="submit" class="btn btn-success">
      <i class="fas fa-dollar-sign"></i> Bid 
        </button>
      </form>
    </div>

  </form>
  {% endif %}


  
      <div class="text-center">
        {% include 'auctions/add_comment.html' %}
      </div>
{% for comment in comments %}

{% empty %}
<div class="item">
<h1>No comments.</h1>
</div>
{% endfor %}
{% endblock %}
