<a href="{% url 'item' listing.id %}">
  <div class="row g-0">
    <div class="col-md-4 card-image">
          <img src="{{listing.image_url}}" class="img-fluid rounded-start" alt="{{listing.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{listing.title}}</h5>
        <p class="card-text description">{{listing.description}}</p>

        {% if listing.current_bid %}
        <p class="card-text">Latest bid: <b>{{listing.current_bid}}</b></p>
        {% else %}
        <p class="card-text">Price: <b>{{listing.base_price}}</b></p>
        {% endif %}

        <p class="card-text"><small class="text-body-secondary"><em>Published by: </em><b>{{listing.owner}}</b></small></p>
    </div>
  </div>
</div>
</a>