body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}
.title{
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.btn{
    margin-top: 20px;
}

ul{
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
      
}
ul li{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #c4d5ec;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    font-weight: bolder;
}

.sidebar a{
    font-weight: bolder;
}
.sidebar a:hover{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar>form>input{

    margin-bottom: 15px;

}
  .show-entry{
    text-align: center;

  }

  .center{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  textarea{
    width: 600px;
    height: 300px;
  }

  .sidebar{
    border-right: steelblue;
    border-right-style: solid;
    border-right-width: 5px;
  }