{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for dato in datos %}
        <tr>
            <td class="text-start">{{dato.symbol}}</td>
            <td class="text-end">{{dato.shares}}</td>
            <td class="text-end">{{dato.price | usd}}</td>
            <td class="text-end">{{dato.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
