<div id="all-posts" class="contenedor">
    {% for post in posts %}
    
        <div class="comment post display">
            <div class="author"><a href="{% url 'profile' post.user %}">@{{ post.user }}</a></div>
            <a href="{% url 'post' post.id %}" class="no-link">
            <div class="message">{{ post.content }}</div>
            <div class="timestamp">{{ post.date }}</div>
        </a>
            <div class="actions">
                <button class="like-button" id="boton-{{post.id}}" data-post="{{post.id}}" data-liked="{% if post.id in liked %}true{% else %}false{% endif %}">
                    {% if post.id in liked %}
                    {% if user.is_authenticated %}
                    <i class="fa fa-heart liked" id="icon-{{post.id}}"></i>
                    {% endif %}
                    {% else %}
                    <i class="fa fa-heart" id="icon-{{post.id}}"></i>
                    {% endif %}

                    <p id="contador-{{post.id}}">{{post.like_set.count}}</p>
                </button>

                <button class="comment-button" id="open-comment" onclick="window.location.href = '{% url 'post' post.id %}'">
                    <i class="fa fa-comment"></i> {{post.post_comment.count}}</button>
            </div>
                

        </div>
    {% endfor %}
</div>