{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<script src="{% static 'network/index.js' %}"></script>
    {% if user.is_authenticated %}
    <div id="make-post" class="contenedor">
        <button id="compose-post" class="btn btn-outline-primary">New Post</button>
        <div id="show-post">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}  <!-- CSRF token -->
                <textarea id='post-text' name="post-text" rows="4" cols="50" required focus></textarea>
                <br>
                <div class="contenedor">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Post</button>
                </div>
            </form>
        </div>
    </div>

    {% endif %}

    {% include 'network/all-posts.html' %}

    {% include 'network/paginator.html' %}

  
{% endblock %}


