  <div class="modal fade" id="modal-edit-post{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-edit-post{{post.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <textarea rows="5" id="textarea-{{post.id}}" class="form-control" name="content">{{post.content}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="editHandler({{post.id}})">Save changes</button>
        </div>
      </div>
    </div>
  </div>