{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<script src="{% static 'network/profile.js' %}"></script>


<div class="contenedor">
    <h1>{{username}}</h1>
    <p class="fofo">Followers: <span class="fofo" id="followers-{{ username }}">{{ following }}</span></p>
    <p class="fofo">Following: <span class="fofo" id="following-{{ username }}">{{ followers }}</span></p>

    {% if user.is_authenticated %}
    {% if username != user.username %}
    {% if username in followed %}
    <div>
        <button class="follow-button unfollow" id="follow-{{username}}" data-username="{{username}}" data-followed="true">Unfollow</button>
    </div>
    {% else %}
    <div>
        <button class="follow-button" id="follow-{{username}}" data-username="{{username}}" data-followed="false">Follow</button>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
</div>

{% if posts|length == 0 %}
    <h1 style="padding: 10%;">NO POSTS YET</h1>
{% else %}

<div id="all-posts" class="contenedor">
    {% for post in posts %}
    <a href="{% url 'post' post.id %}" class="no-link">
        <div class="comment post display">
            <div class="author">@{{ post.user }}</div>
            <div class="message">{{ post.content }}</div>
            <div class="timestamp">{{ post.date }}</div>
        </a>
             <div class="actions">
                <button class="like-button" id="boton-{{post.id}}" data-post="{{post.id}}" data-liked="{% if post.id in liked %}true{% else %}false{% endif %}">
                    {% if post.id in liked %}
                    {% if user.is_authenticated %}
                    <i class="fa fa-heart liked" id="icon-{{post.id}}"></i>
                    {% endif %}
                    {% else %}
                    <i class="fa fa-heart" id="icon-{{post.id}}"></i>
                    {% endif %}

                    <p id="contador-{{post.id}}">{{post.like_set.count}}</p>
                </button>
            </div>
        </div>
    {% endfor %}
</div>



{% include 'network/paginator.html' %}


{% endif %}

{% endblock %}


