{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<script src="{% static 'network/singlepost.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script> 

    function getCookie(name){
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if(parts.length == 2) return parts.pop().split(';').shift();
    }

    function editHandler(id){
        const contentValue = document.getElementById(`textarea-${id}`).value;
        console.log(contentValue)
        const content = document.getElementById(`content-${id}`)
        const modal = document.getElementById(`modal-edit-post${id}`)
        fetch(`/edit/${id}`, {
            method: "POST",
            headers: {"Content-type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")},
                body: JSON.stringify({
                    content: contentValue
                })
        })
        .then(response => response.json())
        .then(result => {
            content.innerHTML = result.data;
            modal.classList.remove('show');
            modal.setAttribute('aria-hidden', 'true');
            modal.setAttribute('style', 'display: none');

            const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

            for(let i=0; i<modalsBackdrops.length; i++){
                document.body.removeChild(modalsBackdrops[i]);
            }
        })
    }

</script>


<div class="post">
    <div class="author"><span><a href="{% url 'profile' post.user %}">@{{ post.user }}</a>
        {% if user.is_authenticated %}
        {% if user == post.user %}
    <button type="button" class="btn-outline-primary btn btn-sm" data-toggle="modal" data-target="#modal-edit-post{{ post.id }}">edit</button>
    {% include 'network/modal.html' %}
    </span>
        {% endif %}
        {% endif %}
    </div>
    <div class="message" id="content-{{post.id}}">
        {{ post.content }}
    </div>
    <div class="timestamp">{{ post.date }}</div>

    <div class="actions">
        <button class="like-button" id="boton-{{post.id}}" data-post="{{post.id}}" data-liked="{% if post.id in liked %}true{% else %}false{% endif %}">
            {% if post.id in liked %}
            {% if user.is_authenticated %}
            <i class="fa fa-heart liked" id="icon-{{post.id}}"></i>
            {% endif %}
            {% else %}
            <i class="fa fa-heart" id="icon-{{post.id}}"></i>
            {% endif %}

            <p id="contador-{{post.id}}">{{post.like_set.count}}</p>
        </button>
        
        {% if user.is_authenticated %}
        <button class="comment-button" id="open-comment">
            <i class="fa fa-comment"></i> Comment</button>
    </div>

    <div id="make-comment" class="contenedor">
        <div id="show-comment">
            <form action="{% url 'post' post.id %}" method="post">
                {% csrf_token %}  <!-- CSRF token -->
                <textarea id='post-comment' name="post-comment" rows="4" cols="50" required focus></textarea>
                <br>
                <div class="contenedor">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Comment</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% for comment in comments %}
<div class="contenedor">
    <div>
        <p><a href="{% url 'profile' comment.author %}">@{{comment.author}}</a> says:</p><p class="timestamp">({{comment.date}})</p>
        </div>
        <div>
            <p><span>{{comment.content}}</span></p>
        </div>
</div>
{% endfor %}

  
{% endblock %}


