{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<script src="{% static 'network/singlepost.js' %}"></script>


<div class="post">
    <div class="author"><a href="{% url 'profile' post.user %}">@{{ post.user }}</a></div>
    <div class="content">
        {{ post.content }}
    </div>
    <div class="timestamp">{{ post.date }}</div>

    <div class="actions">
        <button class="like-button" id="boton-{{post.id}}" data-post="{{post.id}}" data-liked="{% if post.id in liked %}true{% else %}false{% endif %}">
            {% if post.id in liked %}
            {% if user.is_authenticated %}
            <i class="fa fa-heart liked" id="icon-{{post.id}}"></i>
            {% endif %}
            {% else %}
            <i class="fa fa-heart" id="icon-{{post.id}}"></i>
            {% endif %}

            <p id="contador-{{post.id}}">{{post.like_set.count}}</p>
        </button>
        
        {% if user.is_authenticated %}
        <button class="comment-button" id="open-comment">
            <i class="fa fa-comment"></i> Comment</button>
    </div>

    <div id="make-comment" class="contenedor">
        <div id="show-comment">
            <form action="{% url 'post' post.id %}" method="post">
                {% csrf_token %}  <!-- CSRF token -->
                <textarea id='post-comment' name="post-comment" rows="4" cols="50" required focus></textarea>
                <br>
                <div class="contenedor">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Comment</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% for comment in comments %}
<div class="contenedor">
    <div>
        <p><a href="{% url 'profile' comment.author %}">@{{comment.author}}</a> says:</p><p class="timestamp">({{comment.date}})</p>
        </div>
        <div>
            <p><span>{{comment.content}}</span></p>
        </div>
</div>
{% endfor %}

  
{% endblock %}


