textarea {
    min-height: 400px;
}

  .email-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .email-item:hover{
    background-color: #8beef333;
    cursor: pointer;
  }

  .email-item .left {
    display: flex;
    flex-direction: center;
  }

  .email-item .left p{
    margin-right: 10px;

  }
  .email-item .right {
    margin-left: auto;
  }

  #sender{
    font-weight: bold;
  }

  #date{
    color: gray;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Optional: Add margin between each header */
}

.header h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px;
}

.header p{
  font-size: 18px;
  margin: 0;
}
