textarea {
    min-height: 400px;
}

  .email-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .email-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Example box shadow */
    border-radius: 10px;
    cursor: pointer;
  }

  .email-item .left {
    display: flex;
    flex-direction: center;
  }

  .email-item .left p{
    margin-right: 10px;

  }
  .email-item .right {
    margin-left: auto;
  }

  #sender{
    font-weight: bold;
  }

  #date{
    color: gray;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Optional: Add margin between each header */
}

.header h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px;
}

.header p{
  font-size: 18px;
  margin: 0;
}

.read{
  background-color: rgba(128, 128, 128, 0.105);
}

.unread{
  background-color: white;

}

.boton{
  margin: auto 10px;
}