textarea {
    min-height: 400px;
}

  .email-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .email-item .left {
    display: flex;
    flex-direction: center;
  }

  .email-item .left p{
    margin-right: 10px;

  }
  .email-item .right {
    margin-left: auto;
  }

  #sender{
    font-weight: bold;
  }

  #date{
    color: gray;
  }