h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

h2{
  text-align: center;
  margin-top: 20%;
}



.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


#compose-post{
    margin: 10px;
}
#show-post{
    display: none;
}

#show-comment{
  display: none;
}
  
  .author {
    font-weight: bold;
    color: #1e6782;
   

  }
  
  .timestamp {
    font-size: 0.8em;
    color: #888;
  }
  
  .comment .message {
    margin-top: 5px;
    color: black;
  }

  #all-posts{
    padding: 30px;
  }
  .no-link:hover{
    text-decoration: none;
  }

  .post {
    max-width: 1000px;
    min-width: 600px;
    background-color: #fff;
    border-radius: 20px;
    border: solid 1px #dddddd56;
    padding: 20px;
    margin: 20px auto;
}

.post .content {
    margin-bottom: 20px;
}

.post .actions {
    display: flex;
    justify-content: space-between;
    border-top: solid #dddddd98 1px;
}

a {
  font-weight: bold;
  color: #1e6782;
    margin-top: 3px;
}

a:hover{
  text-decoration: none;
}

.display:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.like-button .fa-heart {
  color: #ccc; /* Default color */
}

.like-button .liked{
  color: red; /* Color when liked */
}

.contenedor h1{
  text-transform: uppercase;
  font-weight: bold;
  color: #1da1f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.comment-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.comment-button .fa-comment{
  color: #ccc;

}

textarea {
  border-radius: 10px; 
  padding: 10px; 
  border: 1px solid #ccc;
  resize: none; 
  width: 300px; 
  height: 150px;
}

.like-button p{
  all: unset;
}

.follow-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.unfollow{
  background-color: #f44336; 
}

.follow-button:hover {
  background-color: #45a049; 
}

.unfollow:hover {
  background-color: #f45236; 
}

  .fofo {
    display: inline-block; /* or inline, depending on your layout preferences */
    margin-right: 20px; /* adjust as needed for spacing */
}