

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


#compose-post{
    margin: 10px;
}
#show-post{
    display: none;
}
  
  .author {
    font-weight: bold;
    color: #1e6782;
   

  }
  
  .timestamp {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
  }
  
  .comment .message {
    margin-top: 5px;
    color: black;
  }

  #all-posts{
    border-top: solid #dddddd56 1px;
    border-bottom: solid #dddddd56 1px;
    padding: 30px;
  }
  .no-link:hover{
    text-decoration: none;
  }

  .post {
    max-width: 1000px;
    min-width: 600px;
    background-color: #fff;
    border-radius: 20px;
    border: solid 1px #dddddd56;
    padding: 20px;
    margin: 20px auto;
}

.post .content {
    margin-bottom: 20px;
}

.post .actions {
    display: flex;
    justify-content: space-between;
    border-top: solid #dddddd98 1px;
}

.post .actions a {
    text-decoration: none;
    color: #1da1f2;
    margin-top: 3px;
}

.display:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}