body {
    padding: 10px;
}


.card-container:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0 ease;
  }

.card-container{
    width: fit-content;
    height: fit-content;
}
.card-container a{
    text-decoration: none;
    color: inherit;
}

.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;

}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold; 
}